.sell_btn {
    background-color: transparent;
    border: 1px solid #ca839f;
    border-radius: 12px;
    padding: 7px;
    color: white;
    text-decoration: none;
    outline: none;
}

.sell_btn:hover {
    box-shadow: 1px 1px 6px #4d162c;
}

#cart_icon {
    font-size: 22px;
    margin: 10px;
    margin-right: 0;
    color: rgb(218, 205, 205);
}

#nav_div {
    align-self: flex-end;
}

#nav_div a {
    display: inline;
    padding: 0;
}

.nav_links>a {
    color: rgba(225, 225, 225, .5) !important;
    text-decoration: none;
}

.nav_links>a:hover {
    color: rgba(225, 225, 225, .75) !important;
}

.cart {
    position: relative;
    margin-right: 10px;
}

.cart_quan {
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
    display: inline-block;
    position: absolute;
}

#con_icon {
    font-size: 24px;
    margin-right: 5px;
}

@media screen and (max-width:991px) {
    #nav_brand {
        position: absolute;
        left: 85px;
        top: 10px
    }
}