#detail_Col {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#quan_div {
    display: flex;
}

#add_btn {
    background-color: #7d304d;
    border: none;
    text-decoration: none;
}

.prod_details {
    padding: 15px;
}

@media screen and (max-width:500px) {
    .prod_details {
        display: flex;
        flex-direction: column;
    }
}